.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-ryqnWD0XJNzC);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-iYz36Az3kcEE);
  font-family: var(--token-s94zAKpGzGQp);
  font-size: var(--token-CTAyoK_5UdSd);
  line-height: var(--token-wX4ARjWd10d4);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-4nYgasqfX5Q8);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-tqlUSTfG7YKo);
  outline-offset: 1px;
  outline-color: var(--token-ryqnWD0XJNzC);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-is2Xyyg-_fht);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-6ydzccz6Epzu);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-_dqIJ_eXUPJy);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-ozyeFze5AR2N);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-gTmO4AyK4ouv);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-WYR8Tn9hJXgD);
  font-size: var(--token-SvPeaHfQGqa5);
  column-gap: var(--token-tqlUSTfG7YKo);
  row-gap: 0px;
  border-radius: var(--token-nlqB9dLQmUDU);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-SvPeaHfQGqa5);
  line-height: var(--token-WYR8Tn9hJXgD);
  column-gap: var(--token-nlqB9dLQmUDU);
  row-gap: 0px;
  border-radius: var(--token-nlqB9dLQmUDU);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-ac1qQ7QaM8QY);
  line-height: var(--token-7R-LSe-KGWVX);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-ac1qQ7QaM8QY);
  line-height: var(--token-7R-LSe-KGWVX);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-RkEmxfvyxYFo);
  border-radius: var(--token-4nYgasqfX5Q8);
}
.softBackgroundcolor_neutral {
  background: var(--token-EaJE-BMSgOhK);
}
.softBackgroundcolor_muted {
  background: var(--token-DFH_8RH09FuU);
}
.softBackgroundcolor_success {
  background: var(--token-U26nf8_f2hzD);
}
.softBackgroundcolor_warning {
  background: var(--token-knd1OEEHmwnr);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-ZZuk739cD_8l);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-4nYgasqfX5Q8);
  border: 0px solid var(--token-a3Qqk5P_PEoj);
}
.bordercolor_neutral {
  border-color: var(--token-Yw0cajamA0Oy);
}
.bordercolor_muted {
  border-color: var(--token-IdjHlQxM22Vz);
}
.bordercolor_success {
  border-color: var(--token-KuVinHlDgcvr);
}
.bordercolor_warning {
  border-color: var(--token-lhRCqtG5w4Rx);
}
.bordercolor_errorDestructive {
  border-color: var(--token-vgj7Ne3dugcy);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-4nYgasqfX5Q8);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-JTEsZB3UwgDA);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-Dp80U1mslSsI);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-1-W2p4PliK2A);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__nGYid {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-4nYgasqfX5Q8) var(--token-8UJGUe0ww2Ya);
}
.freeBox__nGYid > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-4nYgasqfX5Q8));
  width: calc(100% + var(--token-4nYgasqfX5Q8));
}
.freeBox__nGYid > :global(.__wab_flex-container) > *,
.freeBox__nGYid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGYid > :global(.__wab_flex-container) > picture > img,
.freeBox__nGYid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-4nYgasqfX5Q8);
}
.freeBoxsize_extraSmall__nGYidnzYt1 {
  padding: var(--token-nlqB9dLQmUDU) var(--token-4nYgasqfX5Q8);
}
.freeBoxsize_small__nGYidPIsuR {
  padding: var(--token-4nYgasqfX5Q8) var(--token-iYz36Az3kcEE);
}
.freeBoxsize_large__nGYidUazsM {
  padding-top: var(--token-nlqB9dLQmUDU);
  padding-bottom: var(--token-nlqB9dLQmUDU);
}
.freeBoxsize_extraLarge__nGYidB7S3K {
  padding-left: var(--token-XOoh_sHpJkQs);
  padding-right: var(--token-XOoh_sHpJkQs);
}
.freeBoxroundedFull__nGYidOdp6N {
  padding-right: var(--token-XOoh_sHpJkQs);
  padding-left: var(--token-XOoh_sHpJkQs);
}
.freeBox___2X18Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___2X18QKrOl {
  display: flex;
}
.slotTargetStart {
  color: var(--token-AN9VJmftDxj0);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Akhs7tgkEMg-);
}
.slotTargetStartcolor_muted {
  color: var(--token-gKsuoZTFQI47);
}
.slotTargetStartcolor_success {
  color: var(--token-0Wdy0QqNcSfU);
}
.slotTargetStartcolor_warning {
  color: var(--token-TsPcVwe08ps-);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-3LlXFIlFD2ih);
}
.slotTargetStarttype_soft {
  color: var(--token-LCSh91Mnl3t-);
}
.slotTargetStarttype_bordered {
  color: var(--token-LCSh91Mnl3t-);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-SvPeaHfQGqa5);
}
.slotTargetStartsize_small {
  font-size: var(--token-SvPeaHfQGqa5);
}
.slotTargetStartsize_large {
  font-size: var(--token-ac1qQ7QaM8QY);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-ac1qQ7QaM8QY);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-z-ldS9lqUw2c);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-z-ldS9lqUw2c);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-gHDCes9iHLxQ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-gHDCes9iHLxQ);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Prh7Tz15Wmqb);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-Prh7Tz15Wmqb);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-9pdGkKItGdBJ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-9pdGkKItGdBJ);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-Y2zQ19OJ4TS2);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-Y2zQ19OJ4TS2);
}
.svg__haOtB {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-AN9VJmftDxj0);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Akhs7tgkEMg-);
}
.slotTargetLabelcolor_muted {
  color: var(--token-gKsuoZTFQI47);
}
.slotTargetLabelcolor_success {
  color: var(--token-0Wdy0QqNcSfU);
}
.slotTargetLabelcolor_warning {
  color: var(--token-TsPcVwe08ps-);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-3LlXFIlFD2ih);
}
.slotTargetLabeltype_soft {
  color: var(--token-LCSh91Mnl3t-);
}
.slotTargetLabeltype_bordered {
  color: var(--token-LCSh91Mnl3t-);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-z-ldS9lqUw2c);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-gHDCes9iHLxQ);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-z-ldS9lqUw2c);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Prh7Tz15Wmqb);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-gHDCes9iHLxQ);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-9pdGkKItGdBJ);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-Prh7Tz15Wmqb);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-Y2zQ19OJ4TS2);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-9pdGkKItGdBJ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-Y2zQ19OJ4TS2);
}
.text__foLb2 {
  white-space: pre;
}
.freeBox__d4Km {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__d4KmCa7Um {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-AN9VJmftDxj0);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Akhs7tgkEMg-);
}
.slotTargetEndcolor_muted {
  color: var(--token-gKsuoZTFQI47);
}
.slotTargetEndcolor_success {
  color: var(--token-0Wdy0QqNcSfU);
}
.slotTargetEndcolor_warning {
  color: var(--token-TsPcVwe08ps-);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-3LlXFIlFD2ih);
}
.slotTargetEndtype_soft {
  color: var(--token-LCSh91Mnl3t-);
}
.slotTargetEndtype_bordered {
  color: var(--token-LCSh91Mnl3t-);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-SvPeaHfQGqa5);
}
.slotTargetEndsize_small {
  font-size: var(--token-SvPeaHfQGqa5);
}
.slotTargetEndsize_large {
  font-size: var(--token-ac1qQ7QaM8QY);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-ac1qQ7QaM8QY);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-z-ldS9lqUw2c);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-z-ldS9lqUw2c);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-gHDCes9iHLxQ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-gHDCes9iHLxQ);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Prh7Tz15Wmqb);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-Prh7Tz15Wmqb);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-9pdGkKItGdBJ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-9pdGkKItGdBJ);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-Y2zQ19OJ4TS2);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-Y2zQ19OJ4TS2);
}
.svg___73RiO {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
