@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-ryqnWD0XJNzC: #2563eb;
  --plasmic-token-brand-brand: var(--token-ryqnWD0XJNzC);
  --token-iYz36Az3kcEE: 0.5rem;
  --plasmic-token-size-8: var(--token-iYz36Az3kcEE);
  --token-s94zAKpGzGQp: Inter;
  --plasmic-token-sans-serif: var(--token-s94zAKpGzGQp);
  --token-CTAyoK_5UdSd: 1rem;
  --plasmic-token-font-md: var(--token-CTAyoK_5UdSd);
  --token-wX4ARjWd10d4: 1.25;
  --plasmic-token-line-height-md: var(--token-wX4ARjWd10d4);
  --token-4nYgasqfX5Q8: 0.375rem;
  --plasmic-token-size-6: var(--token-4nYgasqfX5Q8);
  --token-is2Xyyg-_fht: #374151;
  --plasmic-token-neutral-neutral: var(--token-is2Xyyg-_fht);
  --token-gTmO4AyK4ouv: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-gTmO4AyK4ouv);
  --token-6ydzccz6Epzu: #6b7280;
  --plasmic-token-muted-muted: var(--token-6ydzccz6Epzu);
  --token-nlqB9dLQmUDU: 0.25rem;
  --plasmic-token-size-4: var(--token-nlqB9dLQmUDU);
  --token-SvPeaHfQGqa5: 0.75rem;
  --plasmic-token-font-sm: var(--token-SvPeaHfQGqa5);
  --token-WYR8Tn9hJXgD: 1;
  --plasmic-token-line-height-sm: var(--token-WYR8Tn9hJXgD);
  --token-ac1qQ7QaM8QY: 1.25rem;
  --plasmic-token-font-lg: var(--token-ac1qQ7QaM8QY);
  --token-7R-LSe-KGWVX: 1.4;
  --plasmic-token-line-height-lg: var(--token-7R-LSe-KGWVX);
  --token-tqlUSTfG7YKo: 0.125rem;
  --plasmic-token-size-2: var(--token-tqlUSTfG7YKo);
  --token-_dqIJ_eXUPJy: #16a34a;
  --plasmic-token-success-success: var(--token-_dqIJ_eXUPJy);
  --token-ozyeFze5AR2N: #facc15;
  --plasmic-token-warning-warning: var(--token-ozyeFze5AR2N);
  --token-RkEmxfvyxYFo: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-RkEmxfvyxYFo);
  --token-EaJE-BMSgOhK: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-EaJE-BMSgOhK);
  --token-DFH_8RH09FuU: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-DFH_8RH09FuU);
  --token-U26nf8_f2hzD: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-U26nf8_f2hzD);
  --token-knd1OEEHmwnr: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-knd1OEEHmwnr);
  --token-ZZuk739cD_8l: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-ZZuk739cD_8l);
  --token-a3Qqk5P_PEoj: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-a3Qqk5P_PEoj);
  --token-Yw0cajamA0Oy: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-Yw0cajamA0Oy);
  --token-IdjHlQxM22Vz: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-IdjHlQxM22Vz);
  --token-KuVinHlDgcvr: #86efac;
  --plasmic-token-success-success-border: var(--token-KuVinHlDgcvr);
  --token-lhRCqtG5w4Rx: #fde047;
  --plasmic-token-warning-warning-border: var(--token-lhRCqtG5w4Rx);
  --token-vgj7Ne3dugcy: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-vgj7Ne3dugcy);
  --token-JTEsZB3UwgDA: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-JTEsZB3UwgDA);
  --token-Dp80U1mslSsI: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-Dp80U1mslSsI);
  --token-1-W2p4PliK2A: #00000033;
  --plasmic-token-interaction-pressed: var(--token-1-W2p4PliK2A);
  --token-8UJGUe0ww2Ya: 0.625rem;
  --plasmic-token-size-10: var(--token-8UJGUe0ww2Ya);
  --token-XOoh_sHpJkQs: 0.75rem;
  --plasmic-token-size-12: var(--token-XOoh_sHpJkQs);
  --token-AN9VJmftDxj0: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-AN9VJmftDxj0);
  --token-Akhs7tgkEMg-: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-Akhs7tgkEMg-);
  --token-gKsuoZTFQI47: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-gKsuoZTFQI47);
  --token-LCSh91Mnl3t-: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-LCSh91Mnl3t-);
  --token-TsPcVwe08ps-: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-TsPcVwe08ps-);
  --token-0Wdy0QqNcSfU: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-0Wdy0QqNcSfU);
  --token-3LlXFIlFD2ih: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-3LlXFIlFD2ih);
  --token-z-ldS9lqUw2c: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-z-ldS9lqUw2c);
  --token-gHDCes9iHLxQ: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-gHDCes9iHLxQ);
  --token-Prh7Tz15Wmqb: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-Prh7Tz15Wmqb);
  --token-9pdGkKItGdBJ: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-9pdGkKItGdBJ);
  --token-Y2zQ19OJ4TS2: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-Y2zQ19OJ4TS2
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-2gk_gzc5CvXX_font-family: "Inter", sans-serif;
  --mixin-2gk_gzc5CvXX_font-size: 16px;
  --mixin-2gk_gzc5CvXX_font-weight: 400;
  --mixin-2gk_gzc5CvXX_font-style: normal;
  --mixin-2gk_gzc5CvXX_color: #535353;
  --mixin-2gk_gzc5CvXX_text-align: left;
  --mixin-2gk_gzc5CvXX_text-transform: none;
  --mixin-2gk_gzc5CvXX_line-height: 1.5;
  --mixin-2gk_gzc5CvXX_letter-spacing: normal;
  --mixin-2gk_gzc5CvXX_white-space: pre-wrap;
  --mixin-2gk_gzc5CvXX_user-select: text;
  --mixin-2gk_gzc5CvXX_text-decoration-line: none;
  --mixin-2gk_gzc5CvXX_text-overflow: clip;
  --mixin-IO9q83kQBunD_color: #000000;
  --mixin-IO9q83kQBunD_font-weight: 700;
  --mixin-IO9q83kQBunD_font-size: 64px;
  --mixin-IO9q83kQBunD_line-height: 1;
  --mixin-IO9q83kQBunD_letter-spacing: -1px;
  --mixin-IO9q83kQBunD_white-space: pre-wrap;
  --mixin-hgSGDndjW1bf_color: #000000;
  --mixin-hgSGDndjW1bf_font-size: 48px;
  --mixin-hgSGDndjW1bf_font-weight: 700;
  --mixin-hgSGDndjW1bf_letter-spacing: -0.5px;
  --mixin-hgSGDndjW1bf_line-height: 1.1;
  --mixin-hgSGDndjW1bf_white-space: pre-wrap;
  --mixin-esSe77A_Dr-m_color: #0070f3;
  --mixin-esSe77A_Dr-m_white-space: pre-wrap;
  --mixin-IRvoYJDKmlEd_color: #000000;
  --mixin-IRvoYJDKmlEd_font-size: 32px;
  --mixin-IRvoYJDKmlEd_font-weight: 600;
  --mixin-IRvoYJDKmlEd_line-height: 1.2;
  --mixin-IRvoYJDKmlEd_white-space: pre-wrap;
  --mixin-Oqg2_9pKpAjB_color: #000000;
  --mixin-Oqg2_9pKpAjB_font-size: 24px;
  --mixin-Oqg2_9pKpAjB_font-weight: 600;
  --mixin-Oqg2_9pKpAjB_line-height: 1.3;
  --mixin-Oqg2_9pKpAjB_white-space: pre-wrap;
  --mixin-ZhdqApX9IrdS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZhdqApX9IrdS_border-bottom-color: #dddddd;
  --mixin-ZhdqApX9IrdS_border-bottom-style: solid;
  --mixin-ZhdqApX9IrdS_border-bottom-width: 1px;
  --mixin-ZhdqApX9IrdS_border-left-color: #dddddd;
  --mixin-ZhdqApX9IrdS_border-left-style: solid;
  --mixin-ZhdqApX9IrdS_border-left-width: 1px;
  --mixin-ZhdqApX9IrdS_border-right-color: #dddddd;
  --mixin-ZhdqApX9IrdS_border-right-style: solid;
  --mixin-ZhdqApX9IrdS_border-right-width: 1px;
  --mixin-ZhdqApX9IrdS_border-top-color: #dddddd;
  --mixin-ZhdqApX9IrdS_border-top-style: solid;
  --mixin-ZhdqApX9IrdS_border-top-width: 1px;
  --mixin-ZhdqApX9IrdS_border-bottom-left-radius: 3px;
  --mixin-ZhdqApX9IrdS_border-bottom-right-radius: 3px;
  --mixin-ZhdqApX9IrdS_border-top-left-radius: 3px;
  --mixin-ZhdqApX9IrdS_border-top-right-radius: 3px;
  --mixin-ZhdqApX9IrdS_font-family: "Inconsolata";
  --mixin-ZhdqApX9IrdS_padding-bottom: 1px;
  --mixin-ZhdqApX9IrdS_padding-left: 4px;
  --mixin-ZhdqApX9IrdS_padding-right: 4px;
  --mixin-ZhdqApX9IrdS_padding-top: 1px;
  --mixin-ZhdqApX9IrdS_white-space: pre-wrap;
  --mixin-urkzalnYKFj3_border-left-color: #dddddd;
  --mixin-urkzalnYKFj3_border-left-style: solid;
  --mixin-urkzalnYKFj3_border-left-width: 3px;
  --mixin-urkzalnYKFj3_color: #888888;
  --mixin-urkzalnYKFj3_padding-left: 10px;
  --mixin-urkzalnYKFj3_white-space: pre-wrap;
  --mixin-GSHDvCZWtZaA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-GSHDvCZWtZaA_border-bottom-color: #dddddd;
  --mixin-GSHDvCZWtZaA_border-bottom-style: solid;
  --mixin-GSHDvCZWtZaA_border-bottom-width: 1px;
  --mixin-GSHDvCZWtZaA_border-left-color: #dddddd;
  --mixin-GSHDvCZWtZaA_border-left-style: solid;
  --mixin-GSHDvCZWtZaA_border-left-width: 1px;
  --mixin-GSHDvCZWtZaA_border-right-color: #dddddd;
  --mixin-GSHDvCZWtZaA_border-right-style: solid;
  --mixin-GSHDvCZWtZaA_border-right-width: 1px;
  --mixin-GSHDvCZWtZaA_border-top-color: #dddddd;
  --mixin-GSHDvCZWtZaA_border-top-style: solid;
  --mixin-GSHDvCZWtZaA_border-top-width: 1px;
  --mixin-GSHDvCZWtZaA_border-bottom-left-radius: 3px;
  --mixin-GSHDvCZWtZaA_border-bottom-right-radius: 3px;
  --mixin-GSHDvCZWtZaA_border-top-left-radius: 3px;
  --mixin-GSHDvCZWtZaA_border-top-right-radius: 3px;
  --mixin-GSHDvCZWtZaA_font-family: "Inconsolata";
  --mixin-GSHDvCZWtZaA_padding-bottom: 3px;
  --mixin-GSHDvCZWtZaA_padding-left: 6px;
  --mixin-GSHDvCZWtZaA_padding-right: 6px;
  --mixin-GSHDvCZWtZaA_padding-top: 3px;
  --mixin-GSHDvCZWtZaA_white-space: pre-wrap;
  --mixin-pGGDStmW8582_display: flex;
  --mixin-pGGDStmW8582_flex-direction: column;
  --mixin-pGGDStmW8582_align-items: stretch;
  --mixin-pGGDStmW8582_justify-content: flex-start;
  --mixin-pGGDStmW8582_list-style-position: outside;
  --mixin-pGGDStmW8582_padding-left: 40px;
  --mixin-pGGDStmW8582_position: relative;
  --mixin-pGGDStmW8582_list-style-type: disc;
  --mixin-pGGDStmW8582_white-space: pre-wrap;
  --mixin-s1wtnKQGr-pX_display: flex;
  --mixin-s1wtnKQGr-pX_flex-direction: column;
  --mixin-s1wtnKQGr-pX_align-items: stretch;
  --mixin-s1wtnKQGr-pX_justify-content: flex-start;
  --mixin-s1wtnKQGr-pX_list-style-position: outside;
  --mixin-s1wtnKQGr-pX_padding-left: 40px;
  --mixin-s1wtnKQGr-pX_position: relative;
  --mixin-s1wtnKQGr-pX_list-style-type: decimal;
  --mixin-s1wtnKQGr-pX_white-space: pre-wrap;
  --mixin-pZPTv6DxwZqj_color: #000000;
  --mixin-pZPTv6DxwZqj_font-size: 20px;
  --mixin-pZPTv6DxwZqj_font-weight: 600;
  --mixin-pZPTv6DxwZqj_line-height: 1.5;
  --mixin-pZPTv6DxwZqj_white-space: pre-wrap;
  --mixin-haHNMkml7oyW_color: #000000;
  --mixin-haHNMkml7oyW_font-size: 16px;
  --mixin-haHNMkml7oyW_font-weight: 600;
  --mixin-haHNMkml7oyW_line-height: 1.5;
  --mixin-haHNMkml7oyW_white-space: pre-wrap;
  --mixin-JiQKC9ZHV8Ns_color: #3291ff;
  --mixin-JiQKC9ZHV8Ns_white-space: pre-wrap;
  --mixin-hror3AnhljKc_white-space: pre-wrap;
  --mixin-8l-N4snp9FZ__white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-2gk_gzc5CvXX_font-family);
  font-size: var(--mixin-2gk_gzc5CvXX_font-size);
  font-weight: var(--mixin-2gk_gzc5CvXX_font-weight);
  font-style: var(--mixin-2gk_gzc5CvXX_font-style);
  color: var(--mixin-2gk_gzc5CvXX_color);
  text-align: var(--mixin-2gk_gzc5CvXX_text-align);
  text-transform: var(--mixin-2gk_gzc5CvXX_text-transform);
  line-height: var(--mixin-2gk_gzc5CvXX_line-height);
  letter-spacing: var(--mixin-2gk_gzc5CvXX_letter-spacing);
  white-space: var(--mixin-2gk_gzc5CvXX_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-IO9q83kQBunD_color);
  font-weight: var(--mixin-IO9q83kQBunD_font-weight);
  font-size: var(--mixin-IO9q83kQBunD_font-size);
  line-height: var(--mixin-IO9q83kQBunD_line-height);
  letter-spacing: var(--mixin-IO9q83kQBunD_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-hgSGDndjW1bf_color);
  font-size: var(--mixin-hgSGDndjW1bf_font-size);
  font-weight: var(--mixin-hgSGDndjW1bf_font-weight);
  letter-spacing: var(--mixin-hgSGDndjW1bf_letter-spacing);
  line-height: var(--mixin-hgSGDndjW1bf_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-esSe77A_Dr-m_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-IRvoYJDKmlEd_color);
  font-size: var(--mixin-IRvoYJDKmlEd_font-size);
  font-weight: var(--mixin-IRvoYJDKmlEd_font-weight);
  line-height: var(--mixin-IRvoYJDKmlEd_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Oqg2_9pKpAjB_color);
  font-size: var(--mixin-Oqg2_9pKpAjB_font-size);
  font-weight: var(--mixin-Oqg2_9pKpAjB_font-weight);
  line-height: var(--mixin-Oqg2_9pKpAjB_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZhdqApX9IrdS_font-family);
  border-radius: var(--mixin-ZhdqApX9IrdS_border-top-left-radius)
    var(--mixin-ZhdqApX9IrdS_border-top-right-radius)
    var(--mixin-ZhdqApX9IrdS_border-bottom-right-radius)
    var(--mixin-ZhdqApX9IrdS_border-bottom-left-radius);
  padding: var(--mixin-ZhdqApX9IrdS_padding-top)
    var(--mixin-ZhdqApX9IrdS_padding-right)
    var(--mixin-ZhdqApX9IrdS_padding-bottom)
    var(--mixin-ZhdqApX9IrdS_padding-left);
  border-top: var(--mixin-ZhdqApX9IrdS_border-top-width)
    var(--mixin-ZhdqApX9IrdS_border-top-style)
    var(--mixin-ZhdqApX9IrdS_border-top-color);
  border-right: var(--mixin-ZhdqApX9IrdS_border-right-width)
    var(--mixin-ZhdqApX9IrdS_border-right-style)
    var(--mixin-ZhdqApX9IrdS_border-right-color);
  border-bottom: var(--mixin-ZhdqApX9IrdS_border-bottom-width)
    var(--mixin-ZhdqApX9IrdS_border-bottom-style)
    var(--mixin-ZhdqApX9IrdS_border-bottom-color);
  border-left: var(--mixin-ZhdqApX9IrdS_border-left-width)
    var(--mixin-ZhdqApX9IrdS_border-left-style)
    var(--mixin-ZhdqApX9IrdS_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-urkzalnYKFj3_color);
  padding-left: var(--mixin-urkzalnYKFj3_padding-left);
  border-left: var(--mixin-urkzalnYKFj3_border-left-width)
    var(--mixin-urkzalnYKFj3_border-left-style)
    var(--mixin-urkzalnYKFj3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-GSHDvCZWtZaA_font-family);
  border-radius: var(--mixin-GSHDvCZWtZaA_border-top-left-radius)
    var(--mixin-GSHDvCZWtZaA_border-top-right-radius)
    var(--mixin-GSHDvCZWtZaA_border-bottom-right-radius)
    var(--mixin-GSHDvCZWtZaA_border-bottom-left-radius);
  padding: var(--mixin-GSHDvCZWtZaA_padding-top)
    var(--mixin-GSHDvCZWtZaA_padding-right)
    var(--mixin-GSHDvCZWtZaA_padding-bottom)
    var(--mixin-GSHDvCZWtZaA_padding-left);
  border-top: var(--mixin-GSHDvCZWtZaA_border-top-width)
    var(--mixin-GSHDvCZWtZaA_border-top-style)
    var(--mixin-GSHDvCZWtZaA_border-top-color);
  border-right: var(--mixin-GSHDvCZWtZaA_border-right-width)
    var(--mixin-GSHDvCZWtZaA_border-right-style)
    var(--mixin-GSHDvCZWtZaA_border-right-color);
  border-bottom: var(--mixin-GSHDvCZWtZaA_border-bottom-width)
    var(--mixin-GSHDvCZWtZaA_border-bottom-style)
    var(--mixin-GSHDvCZWtZaA_border-bottom-color);
  border-left: var(--mixin-GSHDvCZWtZaA_border-left-width)
    var(--mixin-GSHDvCZWtZaA_border-left-style)
    var(--mixin-GSHDvCZWtZaA_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-pGGDStmW8582_display);
  flex-direction: var(--mixin-pGGDStmW8582_flex-direction);
  align-items: var(--mixin-pGGDStmW8582_align-items);
  justify-content: var(--mixin-pGGDStmW8582_justify-content);
  list-style-position: var(--mixin-pGGDStmW8582_list-style-position);
  padding-left: var(--mixin-pGGDStmW8582_padding-left);
  position: var(--mixin-pGGDStmW8582_position);
  list-style-type: var(--mixin-pGGDStmW8582_list-style-type);
  flex-column-gap: var(--mixin-pGGDStmW8582_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-s1wtnKQGr-pX_display);
  flex-direction: var(--mixin-s1wtnKQGr-pX_flex-direction);
  align-items: var(--mixin-s1wtnKQGr-pX_align-items);
  justify-content: var(--mixin-s1wtnKQGr-pX_justify-content);
  list-style-position: var(--mixin-s1wtnKQGr-pX_list-style-position);
  padding-left: var(--mixin-s1wtnKQGr-pX_padding-left);
  position: var(--mixin-s1wtnKQGr-pX_position);
  list-style-type: var(--mixin-s1wtnKQGr-pX_list-style-type);
  flex-column-gap: var(--mixin-s1wtnKQGr-pX_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-pZPTv6DxwZqj_color);
  font-size: var(--mixin-pZPTv6DxwZqj_font-size);
  font-weight: var(--mixin-pZPTv6DxwZqj_font-weight);
  line-height: var(--mixin-pZPTv6DxwZqj_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-haHNMkml7oyW_color);
  font-size: var(--mixin-haHNMkml7oyW_font-size);
  font-weight: var(--mixin-haHNMkml7oyW_font-weight);
  line-height: var(--mixin-haHNMkml7oyW_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-JiQKC9ZHV8Ns_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
